<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	">
	<!-- 扫描注释包 -->
	<context:component-scan base-package="yk.controller"></context:component-scan>
	<context:component-scan base-package="yk.service"></context:component-scan>
	
	<!-- 不处理静态资源 -->
	<mvc:default-servlet-handler />
	
	<!-- 注解所需 @RequestMapping -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<!-- <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		前缀
		<property name="prefix" value="/WEB-INF/jsp/" /> 
		后缀
		<property name="suffix" value=".jsp" />
		如果使用jstl的话，配置下面的属性
		<property name="viewClass"  value="org.springframework.web.servlet.view.JstlView" />
	</bean> -->
	
	<!-- 过滤器配置 -->
	<!-- <mvc:interceptors>
		拦截所有springmvc的url！
		会拦截静态资源 包含script引入的js,但不会拦截jsp
		<bean class="yk.interceptor.KaiInterceptor"></bean>
		
		<mvc:interceptor>
		    只拦截下列路径
			<mvc:mapping path="/kai/*"/>
			不拦截下列路径
			<mvc:exclude-mapping path="/kai/marry1"/>
			<bean class="yk.interceptor.KaiInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<!-- 处理文件上传 -->
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认编码 (utf-8) -->
		<property name="defaultEncoding" value="utf-8" /> 
		<!-- 最大内存大小 (默认10240) 单位byte 1M -->
		<property name="maxInMemorySize" value="1024000" /> 
		<!-- 
		临时上传目录。上传内存为10M ， 上传一个100M的文件时，内存满10M时，则放到upload文件中，释放内存，当全部上传完毕时，则文件放到controller里定义的上传目录
		-->
		<property name="uploadTempDir" value="/temp/" /> 
		 <!-- 最大文件大小，-1为无限止(默认-1)单位byte 10M -->
		<property name="maxUploadSize" value="102400000" />
	</bean>
</beans>